#box{
    width: 500px;
    height: 500px;
    background-color:grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
#box1{
    width: 100px;
    height: 100px;
    background-color:red;   
}

#box2{
    width: 100px;
    height: 110px;
    background-color:violet;   
}

#box3{
    width: 100px;
    height: 110px;
    background-color:olive;   
}

