*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height:100%;
}

#main{
    width: 20%;
    height: 40%;
    background-color: black;
    margin: 20px 40px 60px 10px;  /*top right bottom left clock clockwise*/
    color: blueviolet;
    padding: 100px;
}

#main1{
     width: 100%;
    height:100%;
    background-color: aquamarine;
    background-image: url(https://images.unsplash.com/photo-1715756612502-a67ed97280df?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#car1{
    width: 100px;
    height: 120px;
    background-color: red;
     position:absolute;
   
}
#car2{
    width: 110px;
    height: 90px;
    background-color:blueviolet;
    position:absolute;

    top: 10%;
    
    
}
#car3{
    width: 130px;
    height: 110px;
    background-color: green;
     position:absolute;
    
}